<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Welcome to Sumba's Social Media Platform</h2>
    <h4>Jambo
        <%= name %>,</h4>
    <p>
        <%= text %>
    </p>
    <p style="color: #FF0000;">Best Regards &#9829;</p>
    <p>Chris Tsintseyi Sumba</p>
</body>

</html>